.panel-group div:nth-of-type(1) {
  background: #ae616e;
}

.panel-group div:nth-of-type(2) {
  background: #9b747b;
}

.panel-group div:nth-of-type(3) {
  background: #888888;
}

.panel-group div:nth-of-type(4) {
  background: #749b94;
}

.panel-group div:nth-of-type(5) {
  background: #61aea1;
}
